# SmartBank Metrics - Variables d'environnement
# Copier ce fichier en .env et remplir les valeurs réelles
# NE JAMAIS committer .env dans git

SMARTBANK_DB_HOST=localhost
SMARTBANK_DB_PORT=5432
SMARTBANK_DB_NAME=smartbank_db
SMARTBANK_DB_USER=smartbank_user
SMARTBANK_DB_PASSWORD=admin
